# pip3 install -r requirements.txt
#
# Also need the "libs" and "data" directories which are available in this
# repository.
# Set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs

matplotlib
cartopy
pyserial
xlrd
unidecode
pyhamtools
scipy
pyqtgraph

psutil
pyaudio
pytz

# Need this for matplotlib back-end
pyqt6

# For windows
#pyinstaller
#proj
#shapely
#pywin32
